*{
    margin: 0;
    padding: 0;

}
body{
    margin: 0;
}
.aoba{
    background-color: black;
    font-family: MONTSERRAT;
    font-weight: 800;
    color: white;
}
.primarybackground{
    background-image: url('../../public/img/fundowb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10em;
}